{% extends '1base.html.twig' %}

{% block title %}Edit Carteb{% endblock %}

{% block body %}
    <h1>Edit Carteb</h1>

    {{ include('carteb/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('carteb_index') }}">back to list</a>

    {{ include('carteb/_delete_form.html.twig') }}
{% endblock %}
