{% extends '1base.html.twig' %}

{% block title %}New Carteb{% endblock %}

{% block body %}
    <h1>Create new Carteb</h1>

    {{ include('panier/_form.html.twig') }}

    <a href="{{ path('panier_index') }}">retour au panier</a>
{% endblock %}
